.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.box {
  width: 100px;
  height: 100px;
  font-size: x-large;
}
